.spage-container {
  //   background-color: #282c34;

  background: linear-gradient(147deg, #000000, #434343);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  min-height: 90vh;
  // max-width: 100vw;
  margin: 0 auto;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

svg#freepik_stories-focus:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-focus.animated #freepik--background-complete--inject-26 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-focus.animated #freepik--Butterflies--inject-26 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft,
    1.5s Infinite linear floating;
  animation-delay: 0s, 1s;
}
svg#freepik_stories-focus.animated #freepik--Character--inject-26 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

h2 {
  font: {
    size: 2em;
    family: "Montserrat", sans-serif;
    weight: 600;
  }
}
p.description {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
