.footer-phone {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 585px;
  mix-blend-mode: normal;
  overflow: hidden;
  padding: 69px 0;
  width: 100%;

  .overlap-group2 {
    height: 211px;
    margin-right: -224px;
    position: relative;
    width: 690px;
    .group-665 {
      align-items: flex-start;
      display: flex;
      height: 211px;
      left: 25px;
      min-width: 690px;
      position: absolute;
      top: 0;

      .flex-col {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-left: 28px;
        min-height: 147px;
        width: 207px;

        .help {
          height: 32px;
          letter-spacing: -0.18px;
          line-height: 24.3px;
          min-height: 32px;
          mix-blend-mode: normal;
          width: 207px;
        }
        .inicio {
          height: 32px;
          letter-spacing: -0.18px;
          line-height: 24.3px;
          margin-top: 51px;
          min-height: 32px;
          mix-blend-mode: normal;
          width: 207px;
        }

        .pages {
          height: 32px;
          letter-spacing: -0.18px;
          line-height: 24.3px;
          min-height: 32px;
          mix-blend-mode: normal;
          opacity: 0.5;
          width: 207px;
        }

        .contacto {
          height: 32px;
          letter-spacing: -0.18px;
          line-height: 24.3px;
          min-height: 32px;
          mix-blend-mode: normal;
          width: 205px;
        }
        .price {
          height: 32px;
          letter-spacing: -0.18px;
          line-height: 24.3px;
          min-height: 32px;
          mix-blend-mode: normal;
          width: 207px;
        }
      }
      .flex-col-1 {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        min-height: 211px;
        width: 207px;

        .light-theme {
          height: 32px;
          letter-spacing: -0.18px;
          line-height: 24.3px;
          min-height: 32px;
          mix-blend-mode: normal;
          width: 207px;
        }
        .dark-theme {
          height: 32px;
          letter-spacing: -0.18px;
          line-height: 24.3px;
          margin-top: 51px;
          min-height: 32px;
          mix-blend-mode: normal;
          width: 207px;
        }
        .demos {
          height: 32px;
          letter-spacing: -0.18px;
          line-height: 24.3px;
          margin-left: 1px;
          min-height: 32px;
          mix-blend-mode: normal;
          opacity: 0.5;
          width: 206px;
        }
      }
    }
    .group-681 {
      align-items: flex-start;
      display: flex;
      height: 32px;
      left: 250px;
      min-width: 174px;
      position: absolute;
      top: 163px;

      .social-icons {
        align-items: flex-start;
        background-color: var(--black);
        background-size: 100% 100%;
        border-radius: 32px;
        display: flex;
        height: 32px;
        justify-content: flex-end;
        margin-left: 14px;
        min-width: 32px;
        mix-blend-mode: normal;
        padding: 7px 7px;
        .path-1 {
          height: 18px;
          mix-blend-mode: normal;
          width: 18px;
        }
      }
      .social-icons-1 {
        align-items: flex-end;
        background-color: var(--black);
        background-size: 100% 100%;
        border-radius: 32px;
        display: flex;
        height: 32px;
        margin-left: 16px;
        min-width: 32px;
        mix-blend-mode: normal;
        padding: 9.5px 8px;
        .path-2 {
          height: 13px;
          mix-blend-mode: normal;
          width: 16px;
        }
      }
      .social-icons-2 {
        align-items: flex-start;
        background-color: var(--black);
        background-size: 100% 100%;
        border-radius: 32px;
        display: flex;
        height: 32px;
        justify-content: flex-end;
        min-width: 32px;
        mix-blend-mode: normal;
        padding: 7px 7px;

        .path-1 {
          height: 18px;
          mix-blend-mode: normal;
          width: 18px;
        }
      }
      .social-icons-3 {
        align-items: flex-end;
        background-color: var(--black);
        background-size: 100% 100%;
        border-radius: 32px;
        display: flex;
        height: 32px;
        justify-content: flex-end;
        margin-left: 16px;
        min-width: 32px;
        mix-blend-mode: normal;
        padding: 9.5px 7px;

        .path {
          height: 12px;
          mix-blend-mode: normal;
          width: 18px;
        }
      }
    }
  }

  .flex-row {
    align-items: flex-start;
    align-self: center;
    display: flex;
    height: 40px;
    margin-left: 420px;
    margin-top: 150px;
    min-width: 415px;

    .title {
      color: var(--shark);
      font-family: var(--font-family-sarina);
      font-size: var(--font-size-xxl);
      height: 106px;
      letter-spacing: -0.9px;
      line-height: 33px;
      min-height: 106px;
      max-width: 200px;
      mix-blend-mode: normal;
      opacity: 0.5;
      width: 285px;
    }

    .overlap-group1 {
      height: 46px;
      margin-left: 33px;
      margin-top: 3.54px;
      position: relative;
      width: 127px;

      .phone-1 {
        left: 0;
        letter-spacing: -0.24px;
        line-height: 15.6px;
        mix-blend-mode: normal;
        opacity: 0.5;
        position: absolute;
        top: 54px;
        width: 127px;
      }
      .phone {
        left: 0;
        letter-spacing: -0.24px;
        line-height: 15.6px;
        mix-blend-mode: normal;
        opacity: 0.5;
        position: absolute;
        top: 30px;
        width: 123px;
      }
    }
  }

  .flex-row-1 {
    align-items: center;
    display: flex;
    margin-right: 20px;
    margin-top: 100px;
    min-width: 446px;
    .text-1 {
      letter-spacing: -0.18px;
      line-height: 24.3px;
      min-height: 32px;
      mix-blend-mode: normal;
      opacity: 0.5;
      width: 98px;
      margin-left: 55px;
    }
    .terms-of-service {
      align-self: flex-end;
      height: 32px;
      letter-spacing: -0.18px;
      line-height: 24.3px;
      margin-left: 111px;
      min-height: 32px;
      //min-width: 206px;
      mix-blend-mode: normal;
      text-align: right;
      width: 150px;
    }
  }

  .overlap-group {
    align-self: flex-start;
    height: 29px;
    margin-left: 30px;
    margin-top: 441px;
    position: relative;
    width: 16px;
    .group-655 {
      height: 29px;
      left: 1px;
      position: absolute;
      top: 0;
      width: 15px;
    }
    .group-656 {
      height: 29px;
      left: 0;
      position: absolute;
      top: 0;
      width: 15px;
    }
  }
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Sarina:400|Montserrat:400,700");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
:root {
  --black: #000000;
  --blue-ribbon: #0e6eff;
  --shark: #222329;
  --white: #ffffff;

  --font-size-l2: 18px;
  --font-size-xxl: 30px;
  --font-size-xxs: 12px;

  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-sarina: "Sarina", Helvetica;
}
.montserrat-bold-shark-18px {
  color: var(--shark);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
}
.montserrat-normal-shark-12px {
  color: var(--shark);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
.montserrat-bold-blue-ribbon-18px {
  color: var(--blue-ribbon);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
}
