.nuestos-servicios-phone {
  background-color: var(--white);
  height: 1287px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 460px;
  overflow: hidden;
  display: flex;
  align-items: center;

  .overlap-group {
    height: 506px;
    //left: 51px;
    position: absolute;
    top: -42px;
    width: 633px;

    .vector-3 {
      height: 263px;
      left: 242px;
      position: absolute;
      top: 0;
      width: 392px;
    }

    .title {
      left: 15px;
      letter-spacing: -2.02px;
      line-height: 49.5px;
      mix-blend-mode: normal;
      position: absolute;
      top: 132px;
      width: 494px;
      font-size: 40px;
    }

    .card-1 {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      left: 20px;
      min-height: 256px;
      position: absolute;
      top: 250px;
      width: 313px;

      .group-564 {
        align-items: flex-start;
        display: flex;
        height: 230px;
        justify-content: flex-end;
        min-width: 313px;
        .overlap-group2-2 {
          align-items: flex-end;
          background-size: 100% 100%;
          display: flex;
          height: 340px;
          margin-top: -43px;
          min-width: 419px;
          padding: 70.9px 67px;
          position: relative;

          .frame-558 {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            min-height: 164px;
            width: 266px;

            .text-1 {
              letter-spacing: -0.66px;
              line-height: 24.2px;
              min-height: 24px;
              mix-blend-mode: normal;
              white-space: nowrap;
            }
            .text-2 {
              letter-spacing: -0.3px;
              line-height: 19.5px;
              margin-top: 23px;
              min-height: 95px;
              mix-blend-mode: normal;
              width: 238px;
            }
          }
        }
      }

      .group-649-1 {
        align-items: flex-start;
        display: flex;
        height: 50px;
        justify-content: flex-end;
        min-width: 315px;

        .overlap-group3-2 {
          align-items: flex-start;
          background-size: 100% 100%;
          display: flex;
          height: 156px;
          margin-top: -43.01px;
          min-width: 420px;
          padding: 43px 78px;
          .saber-ms {
            height: 50px;
            letter-spacing: -0.17px;
            line-height: 23px;
            min-height: 50px;
            mix-blend-mode: normal;
            width: 156px;
          }
        }
      }
    }
  }

  .overlap-group1 {
    height: 506px;
    left: -10px;
    position: absolute;
    top: -42px;
    width: 633px;

    .card {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      left: -260px;
      min-height: 256px;
      position: absolute;
      top: 890px;
      width: 313px;

      .group-564-2 {
        align-items: flex-start;
        display: flex;
        height: 206px;
        justify-content: flex-end;
        min-width: 313px;
        .overlap-group2-1 {
          align-items: flex-end;
          background-size: 100% 100%;
          display: flex;
          height: 312px;
          margin-top: -43px;
          min-width: 419px;
          padding: 70.9px 67px;
          position: relative;

          .frame-558 {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            min-height: 164px;
            width: 266px;

            .text-1 {
              letter-spacing: -0.66px;
              line-height: 24.2px;
              min-height: 24px;
              mix-blend-mode: normal;
              white-space: nowrap;
              font-size: 17px;
            }
            .text-2 {
              letter-spacing: -0.3px;
              line-height: 19.5px;
              margin-top: 23px;
              min-height: 95px;
              mix-blend-mode: normal;
              width: 238px;
            }
          }
        }
      }

      .group-649-2 {
        align-items: flex-start;
        display: flex;
        height: 47px;
        justify-content: flex-end;
        min-width: 315px;
        .overlap-group3 {
          align-items: flex-start;
          background-size: 100% 100%;
          display: flex;
          height: 154px;
          margin-top: -43.07px;
          min-width: 420px;
          padding: 43.1px 78px;

          .saber-ms-1 {
            height: 47px;
            letter-spacing: -0.17px;
            line-height: 23px;
            min-height: 47px;
            mix-blend-mode: normal;
            width: 156px;
          }
        }
      }
    }

    .saly-22-1 {
      align-items: flex-start;
      display: flex;
      height: 267px;
      left: 302px;
      min-width: 267px;
      mix-blend-mode: normal;
      position: absolute;
      top: 1000px;
      transform: rotate(-15deg);
      .saly-22 {
        height: 460px;
        margin-left: -139px;
        margin-top: -54.7px;
        mix-blend-mode: normal;
        object-fit: cover;
        transform: rotate(15deg);
        width: 460px;
      }
    }
  }

  .card-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: -10px;
    min-height: 1080px;
    position: absolute;
    top: 497px;
    width: 113px;

    .group-564-1 {
      align-items: flex-start;
      display: flex;
      height: 230px;
      justify-content: flex-end;
      min-width: 313px;
      .overlap-group2 {
        align-items: flex-end;
        background-size: 100% 100%;
        display: flex;
        height: 350px;
        margin-top: -43px;
        min-width: 419px;
        padding: 82.7px 67px;
        position: relative;
        .frame-558-2 {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          min-height: 164px;
          width: 266px;

          .text-5 {
            letter-spacing: -0.66px;
            line-height: 24.2px;
            min-height: 48px;
            mix-blend-mode: normal;
            width: 268px;
          }
          .text-6 {
            letter-spacing: -0.3px;
            line-height: 19.5px;
            margin-top: 26px;
            min-height: 57px;
            mix-blend-mode: normal;
            width: 238px;
          }
        }
      }
    }

    .group-649 {
      align-items: flex-start;
      display: flex;
      height: 60px;
      justify-content: flex-end;
      min-width: 315px;

      .overlap-group3-1 {
        align-items: flex-start;
        background-size: 100% 100%;
        display: flex;
        height: 166px;
        margin-top: -43.12px;
        min-width: 420px;
        padding: 43.1px 78px;

        .ir-a-la-tienda {
          height: 60px;
          letter-spacing: -0.17px;
          line-height: 23px;
          min-height: 60px;
          mix-blend-mode: normal;
          width: 156px;
        }
      }
    }
  }
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:root {
  --shark: #222329;
  --vulcan: #11121e33;
  --white: #ffffff;

  --font-size-xxl2: 22px;
  --font-size-xxxxxxs: 17px;
  --font-size-xxxxxxxs: 15px;
  --font-size-xxxxxxxxxl: 45px;

  --font-family-montserrat: "Montserrat", Helvetica;
}
.montserrat-bold-shark-22px {
  color: var(--shark);
  font-family: var(--font-family-montserrat);
  font-size: 20px;
  font-weight: 700;
}
.montserrat-bold-shark-20px {
  color: var(--shark);
  font-family: var(--font-family-montserrat);
  font-size: 15px;
  font-weight: 700;
}

.montserrat-normal-shark-15px {
  color: var(--shark);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxxxxs);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-shark-20px {
  color: var(--shark);
  font-family: var(--font-family-montserrat);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-vulcan-17px {
  color: var(--vulcan);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxxxs);
  font-style: normal;
  font-weight: 700;
}
.montserrat-bold-shark-45px {
  color: var(--shark);
  font-family: var(--font-family-montserrat);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}
