.ubicacion-phone {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1202px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 100%;
  .overlap-group {
    height: 587px;
    margin-left: -4.02px;
    position: relative;
    width: 487px;

    .rectangle-38 {
      height: 510px;
      left: 58px;
      mix-blend-mode: normal;
      position: absolute;
      top: 43px;
      width: 377px;
    }

    .icons-number-1 {
      align-items: flex-start;
      border-radius: 7.5px;
      display: flex;
      height: 15px;
      left: 67px;
      overflow: hidden;
      padding: 2px 3.6px;
      position: absolute;
      top: 246px;
      width: 15px;
      .x1 {
        height: 7px;
        mix-blend-mode: normal;
        width: 3px;
      }
    }

    .icons-number-2 {
      align-items: flex-start;
      border-radius: 7.5px;
      display: flex;
      height: 15px;
      left: 67px;
      overflow: hidden;
      padding: 2px 3px;
      position: absolute;
      top: 349px;
      width: 15px;

      .x2 {
        height: 7px;
        mix-blend-mode: normal;
        width: 5px;
      }
    }

    .text-1 {
      color: var(--shark);
      font-family: var(--font-family-montserrat);
      font-size: 30px;
      font-weight: 600;
      left: 67px;
      letter-spacing: -1.05px;
      line-height: 38.5px;
      mix-blend-mode: normal;
      position: absolute;
      top: 69px;
      width: 390px;
    }

    .text-2 {
      left: 67px;
      letter-spacing: -0.4px;
      line-height: 26px;
      mix-blend-mode: normal;
      position: absolute;
      top: 187px;
      width: 360px;
      font-size: 17px;

      .span {
        letter-spacing: -0.08px;
        font-size: 17px;
      }
      .span4 {
        color: var(--shark);
        font-family: var(--font-family-montserrat);
        font-size: var(--font-size-xl);
        font-weight: 500;
        letter-spacing: -0.08px;
        font-size: 17px;
      }
    }
    .saly-7 {
      height: 257px;
      left: 108px;
      mix-blend-mode: normal;
      object-fit: cover;
      position: absolute;
      top: 424px;
      width: 257px;
    }

    .vector-3 {
      height: 157px;
      left: 0;
      position: absolute;
      top: 430px;
      width: 181px;
    }
  }
  .overlap-group1 {
    height: 29px;
    margin-left: 30px;
    margin-top: 362px;
    position: relative;
    width: 16px;

    .group-655 {
      height: 29px;
      left: 1px;
      position: absolute;
      top: 0;
      width: 15px;
    }
    .group-656 {
      height: 29px;
      left: 0;
      position: absolute;
      top: 0;
      width: 15px;
    }
  }
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}

:root {
  --blue-ribbon: #0e6eff;
  --shark: #222329;
  --white: #ffffff;

  --font-size-xl: 20px;
  --font-size-xxxxxl: 35px;

  --font-family-montserrat: "Montserrat", Helvetica;
}
.montserrat-normal-shark-20px {
  color: var(--shark);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}
.montserrat-semi-bold-shark-20px {
  color: var(--shark);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}
.border-2px-blue-ribbon {
  border: 2px solid var(--blue-ribbon);
}
