.reparaciones-phone {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1202px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 100%;

  .overlap-group5 {
    height: 817px;
    margin-right: -100.55px;
    position: relative;
    width: 644px;
    .text-1 {
      color: var(--shark);
      font-family: var(--font-family-montserrat);
      font-size: 31px;
      font-weight: 700;
      left: 13%;
      letter-spacing: -1.57px;
      line-height: 38.5px;
      mix-blend-mode: normal;
      position: absolute;
      top: 120px;
      max-width: 451px;
    }
    .soluciones-quantum {
      color: var(--shark);
      font-family: var(--font-family-montserrat);
      font-size: var(--font-size-xxxxxxxs);
      font-weight: 500;
      left: 13%;
      letter-spacing: 1.65px;
      line-height: 18px;
      mix-blend-mode: normal;
      position: absolute;
      top: 71px;
      white-space: nowrap;
      width: 365px;
    }
    .text-2 {
      left: 13%;
      letter-spacing: -0.2px;
      line-height: 24px;
      mix-blend-mode: normal;
      position: absolute;
      top: 271px;
      max-width: 400px;
      font-size: 17px;
    }
    .overlap-group1 {
      height: 817px;
      left: 1%;
      position: absolute;
      top: 0;
      width: 587px;
      .frame-691-1 {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        left: 13%;
        min-height: 156px;
        position: absolute;
        top: 825px;
        width: 587px;

        .flashes {
          letter-spacing: -0.9px;
          line-height: 36px;
          min-height: 36px;
          mix-blend-mode: normal;
          white-space: nowrap;
          font-size: 26px;
        }

        .text-3 {
          letter-spacing: -0.4px;
          line-height: 26px;
          margin-top: 16px;
          min-height: 104px;
          mix-blend-mode: normal;
          max-width: 390px;
          font-size: 17px;
          flex-wrap: wrap;
        }
      }
      .frame-691.frame-691-1 {
        top: 609px;
      }

      .iconfinderlens406724-1 {
        height: 40px;
        left: 390px;
        mix-blend-mode: normal;
        object-fit: cover;
        position: absolute;
        top: 820px;
        width: 40px;
      }
    }
    .overlap-group4 {
      height: 647px;
      left: 1%;
      position: absolute;
      top: 0;
      width: 587px;

      .frame-691-1 {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        left: 13%;
        min-height: 156px;
        position: absolute;
        top: 779px;
        width: 587px;

        .flashes {
          letter-spacing: -0.9px;
          line-height: 36px;
          min-height: 36px;
          mix-blend-mode: normal;
          white-space: nowrap;
          font-size: 26px;
        }

        .text-3 {
          letter-spacing: -0.4px;
          line-height: 26px;
          margin-top: 16px;
          min-height: 104px;
          mix-blend-mode: normal;
          max-width: 390px;
          font-size: 17px;
        }
      }

      .frame-691.frame-691-1 {
        top: 609px;
      }

      .image-1 {
        height: 40px;
        left: 390px;
        mix-blend-mode: normal;
        object-fit: cover;
        position: absolute;
        top: 607px;
        width: 40px;
      }
    }
    .overlap-group3 {
      height: 40px;
      left: 1%;
      position: absolute;
      top: 436px;
      width: 589px;

      .iconfinderapp-chat7627385-1 {
        height: 40px;
        left: 390px;
        mix-blend-mode: normal;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 40px;
      }

      .cmaras {
        left: 13%;
        letter-spacing: -0.9px;
        line-height: 36px;
        mix-blend-mode: normal;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 589px;
        font-size: 26px;
      }
    }
    .text-5 {
      left: 13%;
      letter-spacing: -0.4px;
      line-height: 26px;
      mix-blend-mode: normal;
      position: absolute;
      top: 480px;
      max-width: 390px;
      font-size: 17px;
    }
  }

  .flex-row {
    //margin-right: -100.55px;
    margin-top: 40px;
    margin-left: 35px;
    min-width: 614px;

    .overlap-group2 {
      height: 29px;
      margin-top: 5.05px;
      position: relative;
      width: 16px;

      .group-655 {
        height: 29px;
        left: 1px;
        position: absolute;
        top: 0;
        width: 15px;
      }
      .group-656 {
        height: 29px;
        left: 0;
        position: absolute;
        top: 0;
        width: 15px;
      }
    }

    .overlap-group {
      height: 40px;
      //margin-left: 9px;
      position: relative;
      width: 589px;
      .image-2 {
        height: 40px;
        left: 415px;
        mix-blend-mode: normal;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 40px;
      }
      .drones {
        left: 100px;
        letter-spacing: -0.9px;
        line-height: 36px;
        mix-blend-mode: normal;
        position: absolute;
        top: 0px;
        white-space: nowrap;
        width: 589px;
        font-size: 26px;
      }
    }
  }

  .text-6 {
    align-self: center;
    letter-spacing: -0.4px;
    line-height: 26px;
    margin-left: 15px;
   
    margin-top: 14px;
    min-height: 104px;

    mix-blend-mode: normal;
    max-width: 390px;
    font-size: 17px;
  }
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,500");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
:root {
  --shark: #222329;
  --white: #ffffff;

  --font-size-xl2: 20px;
  --font-size-xxl: 30px;
  --font-size-xxxxxl: 35px;
  --font-size-xxxxxxxs: 15px;

  --font-family-montserrat: "Montserrat", Helvetica;
}
.montserrat-normal-shark-20px {
  color: var(--shark);
  font-family: var(--font-family-montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-bold-shark-30px {
  color: var(--shark);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}
