@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.fpage-title {
  font: {
    size: 4em;
    family: "Montserrat", sans-serif;
    weight: 900;
  }
}

#fpage-description {
  font-family: "Lato", sans-serif;
  font-size: 25px;
}


.fpage-content-container {
  animation: text-entry 2s ease-in-out;
  z-index: 20;
}

.fpage-content > .row {
  margin-left: 3rem;
  margin-right: 3rem;
}

.fpage-image {
  margin: 0;
  border-radius: 1rem;
  border: none;
  // animation: enter 0.875s ease;
  // background-image: url("https://firebasestorage.googleapis.com/v0/b/quantum-68439.appspot.com/o/resources%2FDSC05649.jpg?alt=media&token=3759de40-714c-4196-86de-49842da6d397");
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  will-change: scale;

  & > .img-card-2 {
    width: 150px;
    height: 150px;
    background-color: white;
    position: relative;
    top: 10%;
    left: 80%;
    color: black;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.img-card-1 {
  width: 150px;
  height: 220px;
  background-color: white;
  position: relative;
  top: 40%;
  right: 55%;
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


span.fpage-writing {
  font-weight: bold;

  & span {
    border-right: 3px solid white;
    animation-name: parpadeo;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }

  @-moz-keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

#fpage-social-buttons {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 100;
}
.social-button {
  &-facebook {
    &:hover {
      cursor: pointer;
      background: linear-gradient(to right, #2980b9, #2c3e50);
      border: none;
      transition: 1s ease;
    }
  }
  &-instagram {
    &:hover {
      cursor: pointer;
      background: linear-gradient(to right, #bc4e9c, #f80759);
      border: none;
      transition: 1s ease;
    }
  }

  &-youtube {
    &:hover {
      cursor: pointer;
      background: linear-gradient(to right, #e52d27, #b31217);
      border: none;
      transition: 1s ease;
    }
  }
}


.fpage-container {
  //   background-color: #282c34;

  // background: linear-gradient(147deg, #000000 0%, #04619f 74%);
  background: linear-gradient(
    147deg,
    #000000,
    #434343
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  min-height: 90vh;
  // max-width: 100vw;
  margin: 0 auto;
  color: white;

  & > #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
