@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.fpage-title {
  font: {
    size: 4em;
    family: "Montserrat", sans-serif;
    weight: 900;
  }
}

#fpage-description {
  font-family: "Lato", sans-serif;
  font-size: 25px;
}

@keyframes text-entry {
  0% {
    margin-top: 19rem;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
.fpage-content-container {
  animation: text-entry 2s ease-in-out;
}

.fpage-content > .row {
  margin-left: 3rem;
  margin-right: 3rem;
}

.fpage-image {
  margin: 0;
  border-radius: 1rem;
  border: none;
  // animation: enter 0.875s ease;
  // background-image: url("https://firebasestorage.googleapis.com/v0/b/quantum-68439.appspot.com/o/resources%2FDSC05649.jpg?alt=media&token=3759de40-714c-4196-86de-49842da6d397");
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  will-change: scale;

  & > .img-card-2 {
    width: 150px;
    height: 150px;
    background-color: white;
    position: relative;
    top: 10%;
    left: 80%;
    color: black;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.img-card-1 {
  width: 150px;
  height: 220px;
  background-color: white;
  position: relative;
  top: 40%;
  right: 55%;
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes enter {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

span.fpage-writing {
  font-weight: bold;

  & span {
    border-right: 3px solid white;
    animation-name: parpadeo;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }

  @-moz-keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
