.components-hero {
  align-items: flex-start;
  display: flex;
  height: 90vh;
  width: 90%;

  .overlap-group {
    height: 763px;
    position: relative;
    width: 100%;
    margin-top: -100px;
  }
}
.frame-686 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 266px;
  min-height: 481px;
  position: absolute;
  top: 290px;
  //width: 100%;

  .text-1 {
    height: 31px;
    letter-spacing: 2.86px;
    line-height: 31.2px;
    min-height: 31px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .text-2 {
    height: 176px;
    letter-spacing: -3.6px;
    line-height: 88px;
    margin-top: 66px;
    min-height: 176px;
    mix-blend-mode: normal;
    max-width: 623px;
  }
  .text-3 {
    color: var(--shark);
    font-family: var(--font-family-lato);
    font-size: var(--font-size-xxxl);
    height: 39px;
    letter-spacing: -1.35px;
    line-height: 33px;
    margin-top: 27px;
    min-height: 39px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
}

.peter-olexa-p-l-agy-unsplash-10 {
  height: 551px;
  left: 1017px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  top: 212px;
  width: 50%;
}

span.fpage-writing {
  font-weight: bold;

  & span {
    border-right: 3px solid black;
    animation-name: parpadeo;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }

  @-moz-keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700,500|Lato:400");
* {
  box-sizing: border-box;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
