.footer {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  mix-blend-mode: normal;
  width: 100%;
  .overlap-group {
    height: 469px;
    position: relative;
    width: 100%;

    .components-footer {
      align-items: center;
      display: flex;
      height: 469px;
      justify-content: center;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;

      .overlap-group1 {
        height: 375px;
        position: relative;
        width: 100%;
        .line-1 {
          height: 2px;
          left: 0;
          position: absolute;
          top: 286px;
          width: 2232px;
        }
        .body {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          left: 427px;
          min-height: 375px;
          position: absolute;
          top: 0;
          width: 1379px;
          .frame-2 {
            align-items: center;
            display: flex;
            height: 231px;
            min-width: 1379px;

            .flex-col-1 {
              align-items: flex-start;
              display: flex;
              flex-direction: column;
              min-height: 231px;
              width: 562px;
              .group-664 {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                min-height: 199px;
                width: 562px;

                .text-1 {
                  height: 77px;
                  letter-spacing: -1.05px;
                  line-height: 38.5px;
                  min-height: 77px;
                  mix-blend-mode: normal;
                  opacity: 0.5;
                  width: 385px;
                }
                .the-best-design-for {
                  letter-spacing: -0.48px;
                  line-height: 31.2px;
                  margin-top: 25px;
                  min-height: 96px;
                  mix-blend-mode: normal;
                  opacity: 0.5;
                  width: 100%;
                  .span0 {
                    letter-spacing: -0.12px;
                  }
                  .span1 {
                    // color: var(--shark);
                    font-family: var(--font-family-montserrat);
                    font-size: var(--font-size-xxxxs);
                    letter-spacing: -0.07px;
                    line-height: 24.7px;
                  }
                  .span2 {
                    // color: var(--shark);
                    font-family: var(--font-family-montserrat);
                    font-size: var(--font-size-xxs);
                    letter-spacing: -0.04px;
                    line-height: 19.5px;
                  }
                }
              }
              .group-681 {
                align-items: flex-start;
                display: flex;
                min-width: 174px;
                .social-icons-3 {
                  align-items: flex-start;
                  background-color: var(--black);
                  background-size: 100% 100%;
                  border-radius: 32px;
                  display: flex;
                  height: 32px;
                  justify-content: flex-end;
                  min-width: 32px;
                  mix-blend-mode: normal;
                  padding: 7px 7px;
                  .path-1 {
                    height: 18px;
                    mix-blend-mode: normal;
                    width: 18px;
                  }
                }
                .social-icons-1 {
                  align-items: flex-start;
                  background-color: var(--black);
                  background-size: 100% 100%;
                  border-radius: 32px;
                  display: flex;
                  height: 32px;
                  justify-content: flex-end;
                  margin-left: 14px;
                  min-width: 32px;
                  mix-blend-mode: normal;
                  padding: 7px 7px;
                  .path-1 {
                    height: 18px;
                    mix-blend-mode: normal;
                    width: 18px;
                  }
                }
                .social-icons-2 {
                  align-items: flex-end;
                  background-color: var(--black);
                  background-size: 100% 100%;
                  border-radius: 32px;
                  display: flex;
                  height: 32px;
                  margin-left: 16px;
                  min-width: 32px;
                  mix-blend-mode: normal;
                  padding: 9.5px 8px;
                  .path {
                    height: 13px;
                    mix-blend-mode: normal;
                    width: 16px;
                  }
                }

                .social-icons {
                  align-items: flex-end;
                  background-color: var(--black);
                  background-size: 100% 100%;
                  border-radius: 32px;
                  display: flex;
                  height: 32px;
                  justify-content: flex-end;
                  margin-left: 16px;
                  min-width: 32px;
                  mix-blend-mode: normal;
                  padding: 9.5px 7px;

                  .path-2 {
                    height: 12px;
                    mix-blend-mode: normal;
                    width: 18px;
                  }
                }
              }
            }

            .group-665 {
              align-items: flex-start;
              display: flex;
              height: 211px;
              margin-left: 143px;
              min-width: 690px;
              .flex-col {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                min-height: 211px;
                width: 207px;

                .pages-i1218763840 {
                  height: 32px;
                  letter-spacing: -0.18px;
                  line-height: 24.3px;
                  min-height: 32px;
                  mix-blend-mode: normal;
                  opacity: 0.5;
                  width: 207px;
                }

                .x-i121876 {
                  height: 32px;
                  letter-spacing: -0.18px;
                  line-height: 24.3px;
                  margin-top: 51px;
                  min-height: 32px;
                  mix-blend-mode: normal;
                  width: 207px;
                }
                .x-i121876384 {
                  height: 32px;
                  letter-spacing: -0.18px;
                  line-height: 24.3px;
                  min-height: 32px;
                  mix-blend-mode: normal;
                  width: 207px;
                }

                .contact-i12187638 {
                  height: 32px;
                  letter-spacing: -0.18px;
                  line-height: 24.3px;
                  min-height: 32px;
                  mix-blend-mode: normal;
                  width: 205px;
                }
              }
              .flex-col-2 {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                margin-left: 28px;
                min-height: 147px;
                width: 207px;

                .demos-i1218763839 {
                  height: 32px;
                  letter-spacing: -0.18px;
                  line-height: 24.3px;
                  margin-left: 1px;
                  min-height: 32px;
                  mix-blend-mode: normal;
                  opacity: 0.5;
                  width: 206px;
                }
                .x-i121876 {
                  height: 32px;
                  letter-spacing: -0.18px;
                  line-height: 24.3px;
                  margin-top: 51px;
                  min-height: 32px;
                  mix-blend-mode: normal;
                  width: 207px;
                }
                .light-theme-i121876 {
                  color: var(--blue-ribbon);
                  font-family: var(--font-family-montserrat);
                  font-size: var(--font-size-l2);
                  font-weight: 700;
                  height: 32px;
                  letter-spacing: -0.18px;
                  line-height: 24.3px;
                  min-height: 32px;
                  mix-blend-mode: normal;
                  width: 207px;
                }
              }
            }
          }

          .frame-1 {
            align-items: flex-start;
            display: flex;
            margin-top: 112px;
            min-width: 1379px;
            .x2019-2021-all-righ {
              letter-spacing: -0.18px;
              line-height: 24.3px;
              min-height: 32px;
              min-width: 560px;
              mix-blend-mode: normal;
              opacity: 0.5;
              width: 560px;
            }
            .terms-of-service-i12 {
              height: 32px;
              letter-spacing: -0.18px;
              line-height: 24.3px;
              margin-left: 615px;
              min-height: 32px;
              min-width: 206px;
              mix-blend-mode: normal;
              text-align: right;
              width: 206px;
            }
          }
        }
      }
    }

    .icons-number-1 {
      align-items: flex-start;
      border-radius: 6.5px;
      display: flex;
      height: 13px;
      left: 281px;
      overflow: hidden;
      padding: 1.5px 2.9px;
      position: absolute;
      top: 206px;
      width: 13px;
      .x1 {
        height: 6px;
        mix-blend-mode: normal;
        width: 2px;
      }
    }
    .icons-number-2 {
      align-items: flex-start;
      border-radius: 6.5px;
      display: flex;
      height: 13px;
      left: 438px;
      overflow: hidden;
      padding: 1.5px 2px;
      position: absolute;
      top: 206px;
      width: 13px;
      .x2 {
        height: 6px;
        mix-blend-mode: normal;
        width: 5px;
      }
    }
  }
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Sarina:400|Montserrat:400,700,600");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
