.ubicacion {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 100vh;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 100%;

  .overlap-group {
    height: 1139px;
    margin-left: -87px;
    position: relative;
    width: 2007px;
    .saly-7 {
      height: 316px;
      left: 1188px;
      mix-blend-mode: normal;
      object-fit: cover;
      position: absolute;
      top: 75px;
      width: 316px;
    }
    .icons-number-2 {
      align-items: flex-start;
      border-radius: 9px;
      display: flex;
      height: 18px;
      left: 475px;
      overflow: hidden;
      padding: 3px 4px;
      position: absolute;
      top: 300px;
      width: 18px;

      .x2 {
        height: 8px;
        mix-blend-mode: normal;
        width: 6px;
      }
    }

    .icons-number-1 {
      align-items: flex-start;
      border-radius: 9px;
      display: flex;
      height: 18px;
      left: 475px;
      overflow: hidden;
      padding: 3px 5px;
      position: absolute;
      top: 238px;
      width: 18px;

      .x1 {
        height: 8px;
        mix-blend-mode: normal;
        width: 3px;
      }
    }

    .components-info {
      height: 1139px;
      left: 0;
      position: absolute;
      top: 0;
      width: 1920px;
    }

    .components-cta {
      align-items: flex-start;
      display: flex;
      height: 433px;
      left: 87px;
      position: absolute;
      top: 73px;
      width: 1920px;

      .overlap-group1 {
        height: 402px;
        position: relative;
        width: 1650px;
        .rectangle-38 {
          height: 371px;
          left: 270px;
          mix-blend-mode: normal;
          position: absolute;
          top: 31px;
          width: 1380px;
        }
        .mask-group {
          height: 371px;
          left: 270px;
          position: absolute;
          top: 31px;
          width: 1380px;
        }
        .frame-684 {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          left: 388px;
          min-height: 225px;
          position: absolute;
          top: 100px;
          width: 673px;

          .all-in-one-platform {
            color: var(--shark);
            font-family: var(--font-family-montserrat);
            font-size: var(--font-size-l);
            font-weight: 600;
            letter-spacing: -1.26px;
            line-height: 46.2px;
            min-height: 46px;
            mix-blend-mode: normal;
            white-space: nowrap;
          }

          .lorem-ipsum-dolor-si {
            letter-spacing: -0.48px;
            line-height: 31.2px;
            margin-top: 24px;
            min-height: 155px;
            mix-blend-mode: normal;
            width: 675px;
            .span {
              letter-spacing: -0.12px;
            }

            .span4 {
              color: var(--shark);
              font-family: var(--font-family-montserrat);
              font-size: var(--font-size-xxxxl);
              font-weight: 500;
              letter-spacing: -0.12px;
            }
          }
        }
      }
    }
  }
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
