.iconfinderapp-chat7627385-1 {
  height: 50px;
  left: 270px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 464px;
  width: 50px;
}
.iconfinderlens406724-1 {
  height: 50px;
  left: 270px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 629px;
  width: 50px;
}
.image-1 {
  height: 50px;
  left: 1016px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 464px;
  width: 50px;
}
.image-2 {
  height: 50px;
  left: 1016px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 629px;
  width: 50px;
}

.reparaciones {
  align-items: flex-start;
  // background-color: var(--white);
  display: flex;
  height: 120vh;
  mix-blend-mode: normal;
  width: 100%;
  .overlap-group {
    height: 824px;
    margin-top: 118px;
    position: relative;
    width: 100%;
  }
}
.components-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 824px;
  left: 0;
  padding: 12px 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.frame-7 {
  align-items: flex-start;
  display: flex;
  margin-top: 105px;
  min-width: 1380px;
}
.group-672 {
  align-items: flex-start;
  display: flex;
  height: 317px;
  min-width: 675px;
}
.group-673 {
  align-items: flex-start;
  display: flex;
  height: 348px;
  margin-left: 71px;
  min-width: 634px;
}
.overlap-group-1 {
  height: 176px;
  position: relative;
  width: 634px;
}
.frame-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 515px;
  min-height: 388px;
  width: 865px;
  .text-1 {
    letter-spacing: 2.53px;
    line-height: 27.6px;
    min-height: 28px;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .text-2 {
    letter-spacing: -2.88px;
    line-height: 70.4px;
    margin-top: 42px;
    min-height: 140px;
    mix-blend-mode: normal;
    width: 1247px;
  }
  .text-3 {
    letter-spacing: -0.28px;
    line-height: 33.6px;
    margin-top: 42px;
    min-height: 136px;
    mix-blend-mode: normal;
    width: 730px;
  }
}

.frame-691 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 82px;
  min-height: 176px;
  position: absolute;
  top: 0;
  width: 593px;
}
.text-4 {
  letter-spacing: -0.9px;
  line-height: 36px;
  min-height: 36px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.text-5 {
  letter-spacing: -0.48px;
  line-height: 31.2px;
  margin-top: 16px;
  min-height: 124px;
  mix-blend-mode: normal;
  width: 595px;
}
.frame-509.frame-645 {
  min-height: 176px;
}
.frame-645 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 82px;
  min-height: 145px;
  position: absolute;
  top: 172px;
  width: 552px;
}
.frame-690.frame-645 {
  min-height: 176px;
  top: 0;
}
.lentes-i90453591 {
  letter-spacing: -0.9px;
  line-height: 36px;
  min-height: 36px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.text-6 {
  letter-spacing: -0.48px;
  line-height: 31.2px;
  margin-top: 16px;
  min-height: 93px;
  mix-blend-mode: normal;
  width: 554px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,500");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen a {
  text-decoration: none;
  display: contents;
}
