@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer base{
  @font-face {
    font-family: nikon;
    src: url('Fonts/Nikon/OpenSans-ExtraBoldItalic.ttf') format('ttf');
  }

  @font-face {
    font-family: sony;
    src: url('Fonts/Sony/Clarendon-Regular.otf') format('otf');
  }

  @font-face {
    font-family: canon;
    src: url('Fonts/CANON.ttf') format('tff');
  }

  @font-face {
    font-family: go-pro;
    src: url('Fonts/Go-Pro/neuropol.ttf') format('tff');
  }
}